:root {
  --primary-100: #dbeafe;
  --primary-500: #3b82f6;
  --primary-700: #1d4ed8;

  --success-100: #dcfce7;
  --success-500: #22c55e;
  --success-700: #15803d;

  --warning-100: #fef9c3;
  --warning-500: #f59e0b;
  --warning-700: #b45309;

  --danger-500: #ef4444;

  --neutral-100: #f5f5f5;
  --neutral-500: #737373;
  --neutral-900: #171717;
}